html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    text-align: center;
    padding: 2px;
    background: linear-gradient(to right, #a743e7, #43d9e7, #437ae7);
    color: white;
}

.container {
    max-width: 90%;
    margin: 22px auto 11px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.accordion {
    margin-top: 20px;
    max-height: calc(88vh - 100px);
    overflow-y: auto;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.left-forms {
    width: 55%;
}

.right-controls {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.controls-search-bar .search {
    width: 100%;
}

.request-forms {
    width: 100%;
}

.search-container {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.InputGroupForm {
    display: flex;
    gap: 2px;
}

.message {
    display: inline-block!important;
    background: #43d9e7;
    color: #093aee;
    margin-top: 0;
    padding: 0 10px;
    border-radius: 5px;
}

.message.error {
    display: inline-block!important;
    background: #efb0b0;
    color: red;
    margin-top: 0;
    padding: 0 10px;
    border-radius: 5px;
}

#successMessage {
    display: inline-block!important;
    margin-top: 0;
    padding: 0 10px;
    /*margin-bottom: -10px;*/
}

.controls_primary {
    margin-left: 10px;
}

button {
    padding: 5px 10px;
    height: 38px;
    border: none;
    background-color: #093aee;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button[disabled] {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:hover:enabled {
    background-color: #2451aa;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #c3bfbf !important;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #bf70ef;
    text-align: center;
    color: white;
    border: 1px solid #353434;
}

.td_Center {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #eee;
}

.td_table {
    text-align: center;
    padding: 2px;
}

.tableIndexRow {
    display: flex;
    width: 100%;
    align-items: center;
}

.accordion_body_table {
    margin-top: 10px;
    margin-bottom: 0;
}

.tableIndexDescription {
    display: flex;
    align-items: center;
}

.tableIndexDescription p {
    margin-left: 10px;
    font-weight: bold;
}

.th_table {
    text-align: center;
    font-size: 13px;
}

.td_table_img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.flex-grow-0 {
    margin-right: 10px;
    font-weight: bold;
}

.flex-grow-1 {
    flex-grow: 1;
}

.date-time {
    margin-left: auto;
    margin-right: 20px;
    text-align: right;
}

.search input {
    padding: 5px 10px;
    font-size: 14px;
    height: 38px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex-grow: 1;
}

.images_table {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.modal-image {
    max-width: 90vw;
    max-height: 90vh;
}
