html, body {
    height: 100%;  /* Обеспечим 100% высоту для HTML и BODY */
    margin: 0;    /* Уберем отступы */
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    text-align: center;
    padding: 2px;
    background: linear-gradient(to right, #a743e7, #43d9e7, #437ae7);
    color: white;
}

.container {
    max-width: 90%;
    margin: 22px auto 11px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.accordion {
    margin-top: 20px;
    max-height: calc(88vh - 100px);  /* Максимальная высота равна высоте окна, минус отступы и высота header */
    overflow-y: auto;  /* Добавляем вертикальный скролл при переполнении */
}

.search {
    display: flex;
}

#queryInput {
    width: calc(50% - 200px);
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
}

#loadingMessage {
    color: #093aee;
}

button {
    padding: 12px 20px;
    height: 45px;
    border: none;
    background-color: #093aee;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2451aa;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

th, td {
    border: 1px solid #353434!important;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #b662e9;
    text-align: center;
    color: white;
    border: 1px solid #353434;
}

.td_Center {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #eee;
}
